fastapi==0.104.1
uvicorn==0.24.0
requests==2.31.0
pydantic==2.5.2
sqlalchemy==2.0.23
python-dotenv==1.0.0
sentence-transformers
faiss-cpu
numpy
pandas
beautifulsoup4
PyMuPDF
groq
PyJWT
passlib
pytest==8.2.2
supabase==2.5.1
transformers==4.42.4
selenium==4.22.0
webdriver-manager==4.0.1
